h1{font-size:24pt; font-family:타이포_꼬맹이마음 M,넥슨 풋볼고딕 B,THE왼손잡이 }
img{width:700px; height: 400px;}
body{background-position: center; background-repeat: no-repeat; background-attachment:fixed; background-size: 80% 100%}
